// @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Homemade+Apple&family=Linefont:wght@100;200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bree+Serif&family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Courgette&family=Homemade+Apple&family=Linefont:wght@100;200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@400;500;600&display=swap');

$Color1: #040D12;
$Color2: #183D3D;
$Color3: #5C8374;
$Color4: #93B1A6;

$fontSmall: 0.8rem;
$fontNormal: 1.2rem;
$fontMedium: 2rem;
$fontLarge: 4rem;

$BricolageGrotesque: 'Bricolage Grotesque', sans-serif;
$Poppins: 'Poppins', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Bangers: 'Bangers';
$RobotoSlab: "Roboto Slab";
$HomemadeApple:"Homemade Apple";
$Linefont: "Linefont";

$white: white;

$IconSize: 30px;
$marginH: 6rem;

$color1: hsl(158, 82%, 57%);
$color2: hsl(252, 82%, 57%);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $BricolageGrotesque;

}

body {
    background-color: $Color1;
    // backg/round-color: #222;
    overflow-x: hidden;


}

.progressing {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      img {
        height: 300px;
        border-radius: 8px;
      }

      span {
        font-size: 1.6rem;
      }

    }


}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }