@media screen and (max-width: 768px) {
    
    /* Your styles for smaller screens here */
    $marginH : 2rem;
    $WraphomeMargin: 3rem;
    $IconSize:  2rem;

    .navbar-container {
        justify-content: center;
        .navbar-item {
            .icons {
                width: $IconSize;
                height: $IconSize;
            }
        }
    }

    .home-container {
        .wrap-home {
            margin: $WraphomeMargin $marginH 0 $marginH;
            .home-me {
                display: none;
            }
            .home-content {
                overflow: hidden;
                font-size: calc($fontLarge - 2.6rem);

                .tagline {
                    font-size: 2.5rem;
                    gap: 0.3rem;

                    .highlight {
                        font-size: 1.8rem;
                        width: 14ch;
                    }
                }

                .footer-contacts {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 480px) {
    .home-container {
        .wrap-home {
            .home-content {
                .tagline {
                    font-size: 2rem;

                    .highlight {
                        font-size: 1.4rem;
                        width: 13ch;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .home-container {
        .wrap-home {
            .home-content {
                .tagline {
                    font-size: 1.6rem;

                    .highlight {
                        font-size: 1.2rem;
                        width: 12ch;
                    }
                }
            }
        }
    }
}
