<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{ site.title }}</title>
</head>

<body>
    
    <div class="gradient"></div>
    {% include navigation.html %}   
    
    <div class="home-container">
        <div class="home-content">
            <div>Hey it's me Anas,</div>
            <div>I am  <span id="passion">Single</span></div>
            <div>
                Exploring new tech and honing skills. Love bringing ideas to life. Continuously learning and creating impact.
            </div>
        </div>
        <div class="home-me">
            <img src="/assets/me2.png" />
        </div>
    </div>
    
    
    
    <script src="/assets/scripts/script.js"></script>
</body>

</html>