<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/home-style/style.css">
    <title>{{ site.title }}</title>
</head>

<body>
        
    <div class="home-container">
        {% include navigation.html %}
        <div class="wrap-home">
            <div class="home-content">
                <div class="greeting">
                    Hey, I'm <span class="name">Anas</span>
                </div>
                <div class="tagline">
                    I build <span id="passion" class="highlight">experiences</span>
                </div>
                <div class="description">
                    A developer passionate about exploring new tech and honing skills. I love bringing ideas to life and creating meaningful impact through code.
                </div>
                <!-- <div class="status-badge">
                    {{ site.status }}
                </div> -->
                <div class="footer-contacts">
                    <a target="_blank" href="https://github.com/anasvemmully" aria-label="GitHub">
                        <img src="/assets/images/logos/socials/github-white.svg" alt="github" />
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/muhammed-anas-536a7b201/" aria-label="LinkedIn">
                        <img src="/assets/images/logos/socials/linkedin-white.png" alt="linkedin" />
                    </a>
                    <a target="_blank" href="https://X.com/Muhammedanasv10" aria-label="X (Twitter)">
                        <img src="/assets/images/logos/socials/X.png" alt="X" />
                    </a>
                    <a target="_blank" href="https://discordapp.com/users/743477292553994381" aria-label="Discord">
                        <img src="/assets/images/logos/socials/discord-white.svg" alt="discord" />
                    </a>
                    <a target="_blank" href="mailto:anasvemmully@gmail.com?Subject=Hi,%20can%20i%20get%20you%20a%20Coffee?" aria-label="Email">
                        <img src="/assets/images/logos/socials/telegram-colour1.png" alt="email" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="progressing">
        <div>
            <img src="/assets/images/logos/thinking.gif" alt="thinking" srcset="">
            <span>Thinking what to do...</span>
        </div>
    </div>

    <!-- Background Audio -->
    <audio id="bgAudio" loop>
        <source src="/assets/media/discord-checkpoint.mp3" type="audio/mpeg">
    </audio>

    <script src="/assets/scripts/script.js"></script>
    <script src="/assets/scripts/audio-fade.js"></script>
</body>

</html>